includes:
	- phpstan-baseline.neon
parameters:
	level: 5
	tmpDir: .cache/phpstan
	tips:
	    treatPhpDocTypesAsCertain: true
	paths:
		- src
		- packages
	ignoreErrors:
		-
			identifier: argument.named
		-
			identifier: missingType.generics
		-
			identifier: nullCoalesce.variable