name: Split Packages

on:
  push:
    branches:
      - main
      - develop
    tags:
      - '*'

jobs:
  split:
    runs-on: ubuntu-latest
    name: Split Packages
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Split headless package
        uses: symplify/monorepo-split-github-action@v2.3.0
        with:
          package_directory: 'packages/headless'
          split_repository_organization: 'iamdadmin'
          split_repository_name: 'vewe-headless'
          user_name: "GitHub Action"
          user_email: "action@github.com"
          branch: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.SUBSPLIT_TOKEN }}

      - name: Split styled package
        uses: symplify/monorepo-split-github-action@v2.3.0
        with:
          package_directory: 'packages/styled'
          split_repository_organization: 'iamdadmin'
          split_repository_name: 'vewe-styled'
          user_name: "GitHub Action"
          user_email: "action@github.com"
          branch: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.SUBSPLIT_TOKEN }}

      - name: Split spalike package
        uses: symplify/monorepo-split-github-action@v2.3.0
        with:
          package_directory: 'packages/spalike'
          split_repository_organization: 'iamdadmin'
          split_repository_name: 'vewe-spalike'
          user_name: "GitHub Action"
          user_email: "action@github.com"
          branch: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.SUBSPLIT_TOKEN }}

      - name: Split docs
        uses: symplify/monorepo-split-github-action@v2.3.0
        with:
          package_directory: 'docs'
          split_repository_organization: 'iamdadmin'
          split_repository_name: 'vewe-docs'
          user_name: "GitHub Action"
          user_email: "action@github.com"
          branch: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.SUBSPLIT_TOKEN }}